
    <hr class="w3-opacity">
    <footer class="w3-content w3-justify w3-text-red w3-center">
        <p>
            <p>Offical Information</p>
            <a class="fa fa-link fa-fw w3-xxlarge w3-margin-center" style="text-decoration:none" href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html"></a>
        </p>
    </footer>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>   
</body>
</html>