<%- include ('../partials/header') %>

  <!-- Main Content -->
  <main class="w3-content">
    <div class="row">
        <h2><%= title %></h2>
        <br>
        
    </div>
</main>
<%- include ('../partials/footer') %>