<%- include('partials/header')%>


      <h2 class="w3-big"><b>The COVID 19 App</b></h2>
      <div class="header">
        <a href="/"><img class="logo" src="/images/logo.png" style="width:25%"></a>
      </div>

      <!-- Home Section -->
      <div class="w3-content w3-justify w3-text-grey" id="about">
        <hr class="w3-opacity">
        <p>Commercial Companies Page</p>
          
        <p>For consulting all the information about pandemic of SARS Covid 19,
          so you can take the best decisions for your business. Please sign in for more 
          information. If you dont have an account please register in our application.</p>
      </div>
    <!-- End Home Section -->
    </div>
    
<%- include('partials/footer')%>




